# Files
*.log
*.out
logs
results
tmp

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
disciplinas/node_modules
node_modules
bower_components
build

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db